@page "/about"

@* Add pictures???????*@

<section class="about-colors">
        <div class="about-outer-box">
            <div class="about-inner-box">
                <div class="about-box">
                    <div class="aboutFonts">
                 <h1> About Me</h1>
                    <h4>Hey there! I'm Lawrence but you can call me Larry. <br /></h4><br />
                     Starting 2024, I started a journey, fresh out of an exhilarating seven-year stint with the Marines, concluding service at Central Command in Tampa, my experiences have been far from ordinary. My military career began at 19 as a Tactical Switching Operator. From there, I quickly moved through roles in network cabling, system administration, cybersecurity, and software development. My service took me from the dynamic environment of Okinawa, Japan, to the strategic echelons of the Pentagon, concluding back in Tampa, where I continued to refine my technological and leadership skills. <br><br>
Technology is a passion for me without limits. I've tackled the intricacies of IP switching and routing, explored the complexities of virtual machine architecture, and navigated the challenges of vulnerability management. My collection of certifications – CompTIA's Security+ and CASP+, Azure fundamentals, and several developer badges – reflects my continuous pursuit of knowledge. Furthermore, my recent graduation from the Microsoft Software and Systems Academy (MSSA) has enhanced my skills in .NET and software development.<br><br>
Beyond the uniform and computer screens, I am simply Larry - a person with a love for all things nerdy and innovative. I find inspiration in sci-fi masterpieces like Star Wars and Dune, while RPGs and RTS games provide a different kind of strategic challenge. Outside of tech, I enjoy building computers, planning travel to new countries, lifting weights, playing basketball, and dabbling in car modifications. My sense of humor can swing from light-hearted quips to darker comedic tones, keeping friends and colleagues amused and alert.<br><br>
Life post-Marines began in January 2024. After a well-deserved sabbatical journeying across continents, I am now eager to transition my military discipline, technical prowess, and vibrant energy into the software development sector. With skills in Blazor, Azure, and various .NET frameworks, I am excited to start this new chapter.<br /><br />
                    @* So, if you're in need of a developer who can lead like a Marine, code like a pro, and laugh in the face of adversity, you've found your guy. Welcome to my portfolio—let's make something great together. *@

                    @* test *@
                </div>
            </div>
        </div>
    </div>
</section>




@* I think in this page, i will be adding my hobbies, things i like, family , some history that isnt work related,
my thought process, what i plan on doing and other "human" things *@
@code {

}
