@page "/about"

@* Add pictures???????*@

<section class="about-colors">
        <div class="about-outer-box">
            <div class="about-inner-box">
                <div class="about-box">
                    <div class="aboutFonts">
                 <h1> About Me</h1>
                    <h4>Hey there! I'm Lawrence but you can call me Larry. <br /></h4><br />
                    <b> Fresh out of a thrilling seven-year tour with the Marines</b>, based out of Central Command in Tampa, my journey has been anything but ordinary. Starting my career at 19 as a Tactical Switching Operator, I swiftly transitioned into roles that spanned from network cabling and system administration to cybersecurity and software development. My military path took me from the vibrant life of Okinawa, Japan, to the strategic heart of the Pentagon, and finally back home to Tampa, where I continued to hone my expertise in technology and leadership.<br /><br />
                    In the realm of tech, my passion knows no bounds. I've wrangled with IP switching and routing, dived deep into the architecture of virtual machines, and embraced the challenges of vulnerability management. My arsenal of certifications, including CompTIA's Security+ and CASP+, Azure's fundamentals, and developer badges, attests to my never-ending quest for knowledge. Not to mention, I graduated from the Microsoft Software and Systems Academy (MSSA) at the end of last year, where I sharpened my swords in .NET and software development.<br /><br />
                    But who is Larry beyond the uniform and code? I'm a human, of course, with a penchant for the nerdy and the novel. Sci-fi classics like Star Wars and Dune fuel my imagination, while RPGs and RTS games offer a battlefield of a different kind. When I'm not building computers or planning my next travel adventure to new countries, you might find me lifting heavy at the gym, indulging in basketball, or plotting my future as a car mod enthusiast. My humor? Let's just say it ranges from light-hearted banter to the kind of dark comedy that keeps my peers on their toes.<br /><br />
                    Life after the Corps began in January 2024, and after a brief sabbatical that saw me traversing continents, I'm now on the lookout for opportunities to bring my military discipline, tech expertise, and zest for life to the world of software development. Whether it's through Blazor, Azure, or any .NET solution, I'm ready to embark on this new chapter.<br /><br />
                    @* So, if you're in need of a developer who can lead like a Marine, code like a pro, and laugh in the face of adversity, you've found your guy. Welcome to my portfolio—let's make something great together. *@


                </div>
            </div>
        </div>
    </div>
</section>




@* I think in this page, i will be adding my hobbies, things i like, family , some history that isnt work related,
my thought process, what i plan on doing and other "human" things *@
@code {

}




@* I think in this page, i will be adding my hobbies, things i like, family , some history that isnt work related,
my thought process, what i plan on doing and other "human" things *@
@code {

}
