@page "/about"



<h1>TEST</h1>
<h2>TEST</h2>
<h3>TEST</h3>
<h4>TEST</h4>
<h1>TEST</h1>
<h1>TEST</h1>
<h1>TEST</h1>
<h1>TEST</h1>

@* I think in this page, i will be adding my hobbies, things i like, family , some history that isnt work related,
my thought process, what i plan on doing and other "human" things *@
@code {

}




@* I think in this page, i will be adding my hobbies, things i like, family , some history that isnt work related,
my thought process, what i plan on doing and other "human" things *@
@code {

}
