@page "/experience"
@inject NavigationManager NavigationManager


<section class="exp-colors">
    <section id="experience">
        <div class="outer-box">
            @* <button class="back-button-experience back-button-spacing-experience"
            @onclick="GoToIndex"><img src="/images/back_arrow.png" height="40px" width="40px" ></button> *@
            <div class="inner-box">
                <div class="box">
                    <div class="experienceFonts">
                        <section class="experienceMicrosoft">
                            <img src="/images/Microsoft_Logo.png" height="50px" width="100px" alt="Microsoft">
                            <h1><b>Microsoft Software & Systems Academy</b> August 2023 - December 2023</h1>
                            Programming:<br />
                            In an intensive 17-week program accredited by Skillbridge, I mastered high-demand tech
                            skills,
                            focusing on <b>C# programming</b>, with a special emphasis on <b>cloud development and DevOps</b>.
                            <br /><br />
                            I gained expertise in object-oriented programming, algorithm design, data
                            structures, full-stack development
                            and database management using LINQ, Entity Framework.
                            <br /><br />
                            My training also included advanced topics like application security, performance optimization, and 
                            Azure cloud services, culminating in Microsoft's AZ-900, AI-900 and AZ-204 certifications. 
                            <br /><br />
                            Complementing my technical education, 
                            I honed my professional skills in resume building, interview preparation, and strategic job searching.
                            <section class="button-spacing-experience">
                                <button class="button-design-experience" @onclick="OpenMicrosoftModal">Skills &
                                    Technologies</button>
                                @* <button class="button-design-experience" @onclick="OpenMicrosoftMoreModal">More..</button> *@
                            </section>
                            @if (showMicrosoftModal)
                            {
                                <div class="modal" @onclick="CloseMicrosoftModal">
                                    <div class="modal-content" @onclick:stopPropagation>
                                        <span class="close" @onclick="CloseMicrosoftModal">&times;</span>
                                        <p>
                                         <div class="skills-container">
                                        <div class="skill">
                                            <div class="skill-title">Cloud Technologies</div>
                                            <div class="skill-desc">Azure App Services (CI/CD) | Azure Storage | Azure Function Apps | Azure Virtual Machines | Azure Container Instances | Azure Container Registry</div>
                                        </div>
                                        <div class="skill">
                                            <div class="skill-title">Programming Languages</div>
                                            <div class="skill-desc">C# | SQL | HTML | CSS | JavaScript</div>
                                        </div>
                                        <div class="skill">
                                            <div class="skill-title">DevOps</div>
                                            <div class="skill-desc">DAPR | Docker | Kubernetes | Git | GitHub Actions</div>
                                        </div>
                                        <div class="skill">
                                            <div class="skill-title">Web Development</div>
                                            <div class="skill-desc">Blazor WASM | ASP.NET Core API</div>
                                        </div>
                                        </div>
                                            <br>
                                        </p>
                                    </div>
                                </div>
                            }
                            @if (showMicrosoftMoreModal)
                            {
                                <div class="modal" @onclick="CloseMicrosoftMoreModal">
                                    <div class="modal-content" @onclick:stopPropagation>
                                        <span class="close" @onclick="CloseMicrosoftMoreModal">&times;</span>
                                        <p>
                                            Microsoft<br />More<br />Modal
                                        </p>
                                    </div>
                                </div>
                            }
                        </section>
                        <section class="ExperienceMarineCorps">
                            <img src="/images/MarineCorps_Logo.png" height="50px" width="50px" alt="MarineCorps">
                            <h1><b>Systems Administrator @@ <br>Marine Corps Central Command, Florida </b> <br>January
                                2022
                                - February 2024</h1>
                            With previously experiences, I volunteered to become an ISSO:<br />
                            Administered and patched Windows Servers and workstations through SIEM software, targeting Common Vulnerabilities and Exposures (CVEs). 
                            Created <b>PowerShell, BASH scripting, and batch files</b> to streamline the patching process. <br />Well over 700 machines with multiple layers of classifications.
                            <br /><br />
                            Together with a team of Network Engineers and mentors: Engineered switching, routing, satellite and encryption equipment into a deployable package
                            for overseas assignments.<br /><br />
                            Using tact and innovation: I was stationed in remote areas overseas for the purpose of evaluating the equipment. 
                            Here, <b>creativity and flexible</b> thinking were essential to guarantee the successful accomplishment of our objectives.

                            <section class="button-spacing-experience">
                                <button class="button-design-experience" @onclick="OpenMarineCorpsModal">Skills &
                                    Technologies</button>
                                @* <button class="button-design-experience" @onclick="OpenMarineCorpsMoreModal">More..</button> *@
                            </section>
                            @if (showMarineCorpsModal)
                            {
                                <div class="modal" @onclick="CloseMarineCorpsModal">
                                    <div class="modal-content" @onclick:stopPropagation>
                                        <span class="close" @onclick="CloseMarineCorpsModal">&times;
                                            <p>
                                                <div class="skills-container">
                                                    <div class="skill">
                                                        <div class="skill-title">Cloud Technologies</div>
                                                        <div class="skill-desc">Azure Virtual Machines</div>
                                                    </div>
                                                    <div class="skill">
                                                        <div class="skill-title">Cybersecurity</div>
                                                        <div class="skill-desc">Vulnerability Management | NESSUS | Software Center Configuration Manager | McAfee (Now Trellix) </div>
                                                    </div>
                                                    <div class="skill">
                                                        <div class="skill-title">Scripting Languages</div>
                                                        <div class="skill-desc">BASH | PowerShell | batch</div>
                                                    </div>
                                                    <div class="skill">
                                                        <div class="skill-title">Network Engineering</div>
                                                        <div class="skill-desc">Switching | Routing | Cable management</div>
                                                    </div>
                                                </div>
                                            </p>
                                        </span>
                                    </div>
                                </div>
                            }
                            @if(showMarineCorpsMoreModal)
                            {
                                <div class="modal" @onclick="CloseMarineCorpsMoreModal">
                                    <div class="modal-content" @onclick:stopPropagation>
                                        <span class="close" @onclick="CloseMarineCorpsMoreModal">
                                            &times;
                                            <p>
                                                marine corps more modal
                                            </p>
                                        </span>
                                    </div>
                                </div>
                            }
                        </section>
                        <section class="ExperienceMarineCorps">
                            <img src="/images/MarineCorps_Logo.png" height="50px" width="50px" alt="MarineCorps">
                            <h1><b>Vulnerability Management Lead @@ <br> Pentagon, Washington, D.C. </b> <br>May 2019 -
                                January 2022</h1>
                            Maintaining Cyber Hygeine:<br />
                            Administered and updated Windows Servers and workstations through SIEM software, targeting Common Vulnerabilities and Exposures (CVEs).
                            Created <b>PowerShell, BASH scripting, and batch files</b> to streamline the patching process.<br /><br />
                            Through adaptability, as a novice team of 3 Marines in Cybersecurity, 
                            we successfully managed and patched more than <b>4000 machines across various classification levels</b>. This was mainly done through automation.

                            <section class="button-spacing-experience">
                                <button class="button-design-experience" @onclick="OpenMarineCorpsModal2">
                                    Skills &
                                    Technologies
                                </button>
                                @* <button class="button-design-experience" @onclick="OpenMarineCorpsMoreModal2">More..</button> *@
                            </section>
                            @if (showMarineCorpsModal2)
                            {
                                <div class="modal" @onclick="CloseMarineCorpsModal2">
                                    <div class="modal-content" @onclick:stopPropagation>
                                        <span class="close" @onclick="CloseMarineCorpsModal2">
                                            &times;
                                            <p>
                                                <div class="skills-container">
                                                    <div class="skill">
                                                        <div class="skill-title">Cybersecurity</div>
                                                        <div class="skill-desc">Vulnerability Management | NESSUS | Software Center Configuration Manager | McAfee (Now Trellix) </div>
                                                    </div>
                                                    <div class="skill">
                                                        <div class="skill-title">Scripting Languages</div>
                                                        <div class="skill-desc">BASH | PowerShell | batch</div>
                                                    </div>
                                                    <div class="skill">
                                                        <div class="skill-title">Network Engineering</div>
                                                        <div class="skill-desc">Switching | Routing | Cable management</div>
                                                    </div>
                                                </div>
                                            </p>
                                        </span>
                                    </div>
                                </div>
                            }
                            @if (showMarineCorpsMoreModal2)
                            {
                                <div class="modal" @onclick="CloseMarineCorpsMoreModal2">
                                    <div class="modal-content" @onclick:stopPropagation>
                                        <span class="close" @onclick="CloseMarineCorpsMoreModal2">
                                            &times;
                                            <p>
                                                marine corps more modal 2
                                            </p>
                                        </span>
                                    </div>
                                </div>
                            }
                        </section>
                        <section class="ExperienceMarineCorps">
                            <img src="/images/MarineCorps_Logo.png" height="50px" width="50px" alt="MarineCorps">
                            <h1><b>Systems Administrator @@ <br>Okinawa, Japan</b> <br>July 2016 -
                                May
                                2019</h1>
                            Deployment Support: <br />
                            Specialized in routing, switching, optical fiber wiring for the purpose of integrating and deploying command posts overseas in multiple, rapid succession.<br /><br />
                            Oversaw server racks utilizing <b>VMWare and Microsoft Server</b> software. <br /><br />
                            Benefitting from the guidance of experienced System and Network Engineers, 
                            we <b>developed innovative solutions and integrated cutting-edge technologies</b> provided by government partners for experimental and testing purposes.<br /><br />

                            Maintained strict accountability for classified data
                            <section class="button-spacing-experience">
                                <button class="button-design-experience" @onclick="OpenMarineCorpsModal3">
                                    Skills &
                                    Technologies
                                </button>
                                @* <button class="button-design-experience" @onclick="OpenMarineCorpsMoreModal3">More..</button> *@
                            </section>
                            @if (showMarineCorpsModal3)
                            {
                                <div class="modal" @onclick="CloseMarineCorpsModal3">
                                    <div class="modal-content" @onclick:stopPropagation>
                                        <span class="close" @onclick="CloseMarineCorpsModal3">
                                            &times;
                                            <p>
                                                <div class="skills-container">
                                                    <div class="skill">
                                                        <div class="skill-title">Information Security Analysis</div>
                                                        <div class="skill-desc">Access Control | Regular Audits | Incident Response </div>
                                                    </div>
                                                    <div class="skill">
                                                        <div class="skill-title">System Administration</div>
                                                        <div class="skill-desc">VMWare | Windows | Linux</div>
                                                    </div>
                                                    <div class="skill">
                                                        <div class="skill-title">Scripting Languages</div>
                                                        <div class="skill-desc">Cisco IOS | batch</div>
                                                    </div>
                                                    <div class="skill">
                                                        <div class="skill-title">Network Engineering</div>
                                                        <div class="skill-desc">Fiber optic wiring | Switching | Routing | Cable management</div>
                                                    </div>
                                                </div>
                                            </p>
                                        </span>
                                    </div>
                                </div>
                            }
                            @if (showMarineCorpsMoreModal3)
                            {
                                <div class="modal" @onclick="CloseMarineCorpsMoreModal3">
                                    <div class="modal-content" @onclick:stopPropagation>
                                        <span class="close" @onclick="CloseMarineCorpsMoreModal3">
                                            &times;
                                            <p>
                                                marine corps more modal 3
                                            </p>
                                        </span>
                                    </div>
                                </div>
                            }
                        </section>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>




@code {
    
    private void GoToIndex()
    {
        NavigationManager.NavigateTo("/");
    }
    private bool showMicrosoftModal = false;    
    private bool showMicrosoftMoreModal = false;

    private bool showMarineCorpsModal = false;
    private bool showMarineCorpsMoreModal = false;

    private bool showMarineCorpsModal2 = false;
    private bool showMarineCorpsMoreModal2 = false;

    private bool showMarineCorpsModal3 = false;
    private bool showMarineCorpsMoreModal3 = false;



    private void OpenMicrosoftModal() { showMicrosoftModal = true; }
    private void CloseMicrosoftModal() { showMicrosoftModal = false; }
    private void OpenMicrosoftMoreModal() { showMicrosoftMoreModal = true; }
    private void CloseMicrosoftMoreModal() { showMicrosoftMoreModal = false; }

    private void OpenMarineCorpsModal() { showMarineCorpsModal = true; }
    private void CloseMarineCorpsModal() { showMarineCorpsModal = false; }
    private void OpenMarineCorpsMoreModal() { showMarineCorpsMoreModal = true; }
    private void CloseMarineCorpsMoreModal() { showMarineCorpsMoreModal = false; }

    private void OpenMarineCorpsModal2() { showMarineCorpsModal2 = true; }
    private void CloseMarineCorpsModal2() { showMarineCorpsModal2 = false; }
    private void OpenMarineCorpsMoreModal2() { showMarineCorpsMoreModal2 = true; }
    private void CloseMarineCorpsMoreModal2() { showMarineCorpsMoreModal2 = false; }

    private void OpenMarineCorpsModal3() { showMarineCorpsModal3 = true; }
    private void CloseMarineCorpsModal3() { showMarineCorpsModal3 = false; }
    private void OpenMarineCorpsMoreModal3() { showMarineCorpsMoreModal3 = true; }
    private void CloseMarineCorpsMoreModal3() { showMarineCorpsMoreModal3 = false; }
}