@page "/projects"




@***************************************Page 4*******************************************************@
<section id="projects"></section>


<section class="my-projects">
    <p>
        Projects:
    </p>
    <ul>
        <li>Project 1</li>
        <li>Project 2</li>
        <li>Project 3</li>
    </ul>

</section>





@code {

}
